@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'),
    url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: local('Poppins-Light'),
    url('./assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'),
    url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Black';
  src: local('Poppins-Black'),
    url('./assets/fonts/Poppins-Black.ttf') format('truetype');
}

:root {
  /* colors */
  --black: #040404;
  --textBlack: #00000095;
  --lightBlack: #00000075;
  --veryLightBlack: #00000025;
  --overlayBlack: #414141c7;
  --navyBlue: rgb(2, 34, 56);
  --white: #fff;
  --offWhite: #fffffff1;
  --veryGrey: #11111125;
  --grey: #ccc;
  --lightGrey: #ccccccbe;
  --primaryBlue: #048cbc;
  --primaryBlueDarker: #057fac;
  --primaryLime: #c7db18;
  --primaryLimeDarker: #96a50e;
  --red: #ff0000;

  /* shadows */
  --subtleShadow: 0 0 4px 2px var(--veryLightBlack);
  --subtleShadow2: 0 0 1px 1px var(--lightBlack);

  /* fonts shorthand*/
  --primaryLight: 'Poppins-Light';
  --primaryRegular: 'Poppins-Regular';
  --primaryBold: 'Poppins-Bold';
  --primaryVeryBold: 'Poppins-Black';
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 12px;
  background-color: var(--grey);
  color: var(--textBlack);
}

* {
  margin: 0;
  box-sizing: border-box !important;
  font-family: var(--primaryLight);

  transition: all 0.1s ease-out;
}

.title {
  font-family: 'Poppins-Bold';
  font-size: 1.8em;
}

::-webkit-input-placeholder {
  /* Edge */
  font-size: 12px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}
